/* src/pages/SignLanguageTranslator.css */

.card {
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
  }
  
  h4 {
    margin-bottom: 15px;
  }
  
  h5 {
    margin-top: 15px;
  }
  